@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Times New Roman", Times, serif;
}

.dashboard {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  background-color: #3a527a;
  color: #ecf0f1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 0 0;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.sidebar li:hover {
  background-color: #34495e;
  text-decoration: underline;
}

/* Main Section */
.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  background-color: #ecf0f1;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #bdc3c7;
}

.header h1 {
  margin: 0;
}

.logout {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.logout:hover {
  background-color: #c0392b;
}

/* Content */
.content {
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f5f6fa;
  flex-grow: 1;
}

.card {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1 1 200px;
  text-align: center;
  border-radius: 10px;
  max-width: calc(50% - 20px);
}

.card:hover {
  background-color: #ecf0f1;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

/* histories */
.image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  justify-content: center;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 200px;
}

.image-item img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 8px;
}

.image-item p {
  font-size: 14px;
  color: #333;
  margin: 4px 0;
  text-align: center;
}
