/* Sidebar container */
.sidebar {
  height: 100vh; 
  background-color: #3a527a; 
  color: #ecf0f1; 
  padding: 20px;
  display: flex;
  flex-direction: column; 
  top: 0; 
  left: 0;
  z-index: 1000; 

}

/* Sidebar title */
.sidebar h2 {
  display: flex;
  font-size: 1.8rem; 
  margin-bottom: 1.5rem; 
  text-align: center; 
}

/* Menu list */
.sidebar ul {
  list-style: none; 
  padding: 0; 
  margin: 0;
}

/* Menu item */
.sidebar li {
  margin: 10px 0; 
}

/* Link styling */
.sidebar a {
  text-decoration: none;
  color: inherit; 
  display: flex; 
  align-items: center; 
  padding: 10px; 
  border-radius: 5px; 
  transition: all 0.3s ease; 
}

/* Hover effect */
.sidebar a:hover {
  background-color: #34495e; 
  transform: scale(1.05); 
}

/* Active link */
.sidebar a.active {

  background-color: #1abc9c;
  font-weight: bold; /* In đậm chữ */

}

/* Icon styling */
.icon {
  font-size: 1.5rem;
  margin-right: 15px;
  min-width: 30px;
}

/* Text styling */
.sidebar span {
  font-size: 1rem;
  white-space: nowrap;
}

