.histories-container {
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

h3 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
}

.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

.image-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  min-height: 300px; /* Đảm bảo card ảnh có chiều cao tối thiểu */
}

.image-preview {
  width: 100%;
  height: 200px; /* Cố định chiều cao cho ảnh */
  object-fit: cover;
  border-radius: 8px;
}

.image-time,
.image-detected {
  margin: 10px 0;
  color: #555;
  font-size: 14px;
}

.button-container {
  display: flex;
  gap: 10px;  /* Tạo khoảng cách giữa các nút */
  justify-content: flex-start; /* Căn trái hoặc có thể căn giữa nếu cần */
}

.delete-button,
.suggestion-button {
  background-color: #ff4d4f;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.delete-button {
  background-color: #ff4d4f;
}

.delete-button:hover {
  background-color: #ff3333;
  transform: scale(1.05);
}

.suggestion-button {
  background-color: #4dff88;
}

.suggestion-button:hover {
  background-color: #33cc66;
  transform: scale(1.05);
}


.pagination-controls {
  display: flex;
  justify-content: flex-end; /* Căn phải phân trang */
  align-items: center;
  margin-top: 30px;
  gap: 10px;
}

.pagination-controls button {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.pagination-controls button.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.pagination-controls button:hover {
  background-color: #f0f0f0;
}

.pagination-controls button:disabled {
  cursor: not-allowed;
  background-color: #e0e0e0;
}
